<div>
  <div *ngIf="icon">
    <h2 tooltip="Click to copy" class="name text-truncate" (mouseup)="copyContent(icon.name)" #name>{{ icon.name }}</h2>
    <section>
      <img width="100" height="100" src="{{ getImageUrl() }}" alt="{{ icon.name }}">
    </section>
    <section>
      <a class="btn btn-primary"
         target="_blank"
         href="{{ getImageUrl() }}" download>
        <i class="material-icons md-save_alt"></i> Download SVG</a>
    </section>
    <section class="code">
      <code class="small"
            tooltip="Click to copy code"
            (click)="copyContent(getIconCode())"
            [innerText]="getIconCode()"></code>
    </section>
    <section class="charcode">
      <dl>
        <dt *ngIf="icon?.char.opaque">Opaque:</dt>
        <dd *ngIf="icon?.char.opaque">
          <span tooltip="Click to copy"
                (click)="copyContent(icon.char.opaque)">{{ icon.char.opaque }}</span>
        </dd>
        <dt *ngIf="icon?.char.transparent">Transparent:</dt>
        <dd *ngIf="icon?.char.transparent">
          <span tooltip="Click to copy"
                (click)="copyContent(icon.char.transparent)">{{ icon.char.transparent }}</span>
        </dd>
      </dl>
    </section>
    <section class="tags" *ngIf="icon?.tags.length">
      <h5>Tags:</h5>
      <span *ngFor="let tag of icon.tags" class="d-inline-block m-1">
        <button class="tag btn btn-outline-secondary btn-sm" (click)="onSelectTag(tag)">{{ tag }}</button>
      </span>
    </section>
  </div>
</div>
