:host {
  text-align: center;
  background-color: #f0f3f7;
  border-right: 1px dashed #c0c4c7;
}

h1 {
  border-bottom: 1px dashed #c0c4c7;
  margin: 0 0 1rem;
  line-height: 1;
  padding-bottom: .5em;
  font-size: 1.5rem;
  color: #3a44ab;
}

img {
  vertical-align: baseline;
  background-color: #ffffff;
  border: 1px dashed #c0c4c7;
}
