:host {
  text-align: center;
  background-color: #f0f3f7;
  border-right: 1px dashed #c0c4c7;
  overflow-y: auto;
}

.download-link {
  display: inline-block;
  color: #ffffff;
  background-color: #49ab47;
  text-decoration: none;
  outline: none;
  margin: 1.5em auto;
  padding: .5em .75em;
  line-height: 1.5;
  border-radius: .25em;

  .material-icons {
    vertical-align: middle;
  }
}

h1 {
  border-bottom: 1px dashed #c0c4c7;
  margin: 0 0 1rem;
  line-height: 1;
  padding-bottom: .5em;
  font-size: 1.5rem;
  color: #3a44ab;
}

h3 {
  cursor: copy;
}

img {
  display: block;
  margin: 0 auto;
}

code {
  display: block;
  text-align: left;
  cursor: copy;
  max-width: 100%;
  padding: 1em .5em;
  border: 1px solid #a0aaab;
  border-radius: .25em;
  background-color: #f8fafb;
  color: #9a2154;
}

.tags {
  h4 {
    margin: 1.5em 0 0;
  }
}

.tag {
  display: inline-block;
  margin: .25em;
  padding: .5em;
  line-height: 1;
  border-radius: .25em;
  background-color: #ffffff;
  border: 1px dashed #a0aaab;
}
