$icon-size: 48px;

:host {
  float: left;
  text-align: center;
  margin-bottom: 1.5rem;
  line-height: 1.5;
  width: 12.5%;
  cursor: pointer;

  @media all and (max-width: 1200px){
    width: 16.6666%;
  }

  @media all and (max-width: 1024px){
    width: 25%;
  }

  & > div {
    padding: 1rem .5rem;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: all .125s ease-in;

    &.selected {
      border-color: #3a44ab;
    }
  }
}

.icon {
  font-size: $icon-size;
  line-height: $icon-size;
  vertical-align: middle;
  user-select: all;
  color: #202020;
  margin: 0 0 1rem;
}

.name {
  font-size: .75rem;
  color: #a0aaab;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
