:host {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin-left: 20rem;
  padding-top: 4.5rem;
}

app-icon-info {
  position: absolute;
  left: -20rem;
  top: 0;
  bottom: 0;
  width: 20rem;
  padding: 1.5rem;
}

app-icons-list {
  overflow-y: auto;
}

.search-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 0;

  .material-icons {
    width: 2.5rem;
    line-height: 2.5rem;
    float: left;
    margin-right: -2.5rem;
    text-align: center;
  }

  select {
    float: left;
    width: 20%;
    padding: .75em 2.5rem;
    line-height: 1;
    height: 2.5rem;
    font-size: inherit;
    border: 0 none;
    border-bottom: 2px solid #c4c6c8;
    border-radius: 0;
    outline: 0 none;
    box-sizing: border-box;
  }
}

#search {
  appearance: none;
  -webkit-appearance: none;
  display: block;
  width: 75%;
  padding: .75em 2.5rem;
  line-height: 1;
  font-size: inherit;
  border: 0 none;
  border-bottom: 2px solid #c4c6c8;
  outline: 0 none;
  float: left;
  margin-right: 5%;

  &:focus {
    border-bottom-color: #3a44ab;
  }
}

.content {
  position: absolute;
  top: 4.5rem;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  padding: 2.5rem 0;
}
