<app-layout *ngIf="iconsLoaded | async; else loading">
  <app-layout-sidebar>
    <app-icons-filter></app-icons-filter>
    <app-selected-icon-info></app-selected-icon-info>
  </app-layout-sidebar>
  <app-layout-content>
    <div class="my-3">
      <h1>Material icons</h1>
      <p class="lead">Material icons are delightful, beautifully crafted symbols for common actions and items. Download on desktop to
        use them in your digital products for Android, iOS, and web. Each symbol is available in five themes.</p>
    </div>
    <app-icons-list></app-icons-list>
  </app-layout-content>
</app-layout>
<ng-template #loading><app-loader></app-loader></ng-template>
